<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.carmanage.Mapper.cmsubMapper">
  <resultMap id="BaseResultMap" type="com.carmanage.dao.cmsub">
    <id column="subid" jdbcType="INTEGER" property="subid" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    subid, uid, content, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cm_sub
    where subid = #{subid,jdbcType=INTEGER}
  </select>
  
  <select id="selectAll" resultMap="BaseResultMap">
	select
	<include refid="Base_Column_List" />
	from cm_sub
  </select>
  <select id="selectByUid" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from cm_sub
    where uid = #{uid}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cm_sub
    where subid = #{subid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.carmanage.dao.cmsub">
    insert into cm_sub (subid, uid, content, 
      status)
    values (#{subid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.carmanage.dao.cmsub">
    insert into cm_sub
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="subid != null">
        subid,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="subid != null">
        #{subid,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.carmanage.dao.cmsub">
    update cm_sub
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where subid = #{subid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.carmanage.dao.cmsub">
    update cm_sub
    set uid = #{uid,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR}
    where subid = #{subid,jdbcType=INTEGER}
  </update>
</mapper>