<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.carmanage.Mapper.cmsubMapper">
  <resultMap id="BaseResultMap" type="com.carmanage.dao.cmsub">
    <id column="subid" jdbcType="VARCHAR" property="subid" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="carid" jdbcType="VARCHAR" property="carid" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>
  <select id="selectAll" resultMap="BaseResultMap">
	select
	<include refid="Base_Column_List" />
	from cm_sub
  </select>
  <select id="selectByUid" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from cm_sub
    where uid = #{uid}
  </select>
 <select id="selectByCarid" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from cm_sub
    where carid = #{carid,jdbcType=VARCHAR}
</select>

  

  
  <sql id="Base_Column_List">
    subid, uid, carid, content, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cm_sub
    where subid = #{subid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from cm_sub
    where subid = #{subid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.carmanage.dao.cmsub">
    insert into cm_sub (subid, uid, carid, 
      content, status)
    values (#{subid,jdbcType=VARCHAR}, #{uid,jdbcType=INTEGER}, #{carid,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.carmanage.dao.cmsub">
    insert into cm_sub
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="subid != null">
        subid,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="carid != null">
        carid,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="subid != null">
        #{subid,jdbcType=VARCHAR},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="carid != null">
        #{carid,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.carmanage.dao.cmsub">
    update cm_sub
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="carid != null">
        carid = #{carid,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where subid = #{subid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.carmanage.dao.cmsub">
    update cm_sub
    set uid = #{uid,jdbcType=INTEGER},
      carid = #{carid,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR}
    where subid = #{subid,jdbcType=VARCHAR}
  </update>
</mapper>