<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.carmanage.Mapper.cmworkorderMapper">
  <resultMap id="BaseResultMap" type="com.carmanage.dao.cmworkorder">
    <id column="workorderid" jdbcType="INTEGER" property="workorderid" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="cmuid" jdbcType="INTEGER" property="cmuid" />
    <result column="starttime" jdbcType="TIMESTAMP" property="starttime" />
    <result column="finishedtime" jdbcType="TIMESTAMP" property="finishedtime" />
    <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    workorderid, uid, cmuid, starttime, finishedtime, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cm_workorder
    where workorderid = #{workorderid,jdbcType=INTEGER}
  </select>
    <select id="selectByUid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cm_workorder
    where uid = #{uid,jdbcType=INTEGER}
  </select>

  <select id="selectByCmUid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cm_workorder
    where cmuid = #{cmuid,jdbcType=INTEGER}
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
	select
	<include refid="Base_Column_List" />
	from cm_workorder
	</select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cm_workorder
    where workorderid = #{workorderid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.carmanage.dao.cmworkorder">
    insert into cm_workorder (workorderid, uid, cmuid, 
      starttime, finishedtime, status
      )
    values (#{workorderid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{cmuid,jdbcType=INTEGER}, 
      #{starttime,jdbcType=TIMESTAMP}, #{finishedtime,jdbcType=TIMESTAMP}, #{status,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.carmanage.dao.cmworkorder">
    insert into cm_workorder
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="workorderid != null">
        workorderid,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="cmuid != null">
        cmuid,
      </if>
      <if test="starttime != null">
        starttime,
      </if>
      <if test="finishedtime != null">
        finishedtime,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="workorderid != null">
        #{workorderid,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="cmuid != null">
        #{cmuid,jdbcType=INTEGER},
      </if>
      <if test="starttime != null">
        #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="finishedtime != null">
        #{finishedtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.carmanage.dao.cmworkorder">
    update cm_workorder
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="cmuid != null">
        cmuid = #{cmuid,jdbcType=INTEGER},
      </if>
      <if test="starttime != null">
        starttime = #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="finishedtime != null">
        finishedtime = #{finishedtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where workorderid = #{workorderid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.carmanage.dao.cmworkorder">
    update cm_workorder
    set uid = #{uid,jdbcType=INTEGER},
      cmuid = #{cmuid,jdbcType=INTEGER},
      starttime = #{starttime,jdbcType=TIMESTAMP},
      finishedtime = #{finishedtime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=VARCHAR}
    where workorderid = #{workorderid,jdbcType=INTEGER}
  </update>
</mapper>